## macOS
.DS_Store

## Core LaTeX auxiliary files
*.aux
*.log
*.out
*.dvi
*.xdv

## Beamer auxiliary files
*.nav
*.snm

## Build tool auxiliary files
*.synctex.*
*.fls
*.fdb_latexmk

## Additional LaTeX auxiliary files
*.toc
*.bbl
*.blg
*.bcf
*.run.xml

## Build directories and archives
doc/.latexmk_build/
build/
*.zip

## Test auxiliary files
tests/*.aux
tests/*.fdb_latexmk
tests/*.fls
tests/*.log
tests/*.nav
tests/*.out
tests/*.snm
tests/*.synctex.gz
tests/*.toc

test-*.fls
test-*.log
