*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc

doc/.latexmk_build/
build/
*.zip

tests/*.aux
tests/*.fdb_latexmk
tests/*.fls
tests/*.log
tests/*.nav
tests/*.out
tests/*.snm
tests/*.synctex.gz
tests/*.toc

test-*.fls
test-*.log
